@import 'public';
header{
    width: 1200px;
    height: 130px;
    font-size: 14px;
    .header-left{
        float: left;
        margin-top: 62px;
        vertical-align: middle;
        .header-lang{
            width: 40px;
            padding-left: 25px;
            h4{
                font-size: 12px;
                line-height: 28px;
                margin: 0;
                padding-right: 4px;
                text-align: center;
            }
        }
    }
}